:root{
    --azul-oscuro: #232C50;
    --gris-claro: 
    #B3B2B7;
    --naranja: #F3603B;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*header*/

header div{
    display: none;
}

header{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

header i{
    color: var(--azul-oscuro);
}

header img{
    width: 145.54px;
    height: 23.74px;
}

/*main*/

/*banner*/

section.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

section.banner div.izquierda{
    width: 439px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    text-align: center; 
    align-items: center;
    padding: 20px;
}

section.banner div.izquierda h1{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: var(--azul-oscuro);
}

section.banner div.izquierda p{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    color: var(--gris-claro);
}

section.banner div.izquierda div{
    background-color: var(--naranja) ;
    height: 40px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
    transition: background-color 1s ease;
}

section.banner div.izquierda div:hover{
    background-color: #FFA07A;
}

section.banner div.izquierda div a{
    text-decoration: none;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

section.banner img{
    width: 439px;
    height: 400px;
    order: -1;
    padding: 20px;
}

/* info*/

section.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 140px;
}

section.info div.izquierda{
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 337px;
    text-align: center;
    margin-bottom: 55px;
}

section.info div.derecha{
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 337px;
}

section.info div.izquierda h3{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    color: var(--azul-oscuro);
    font-size: 23px;
}

section.info div.izquierda p{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    color: var(--gris-claro);
}

section.info div.derecha div.numeros{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

section.info div.derecha div.numeros h3{
    background-color: rgba(242, 95, 58, 0.17);
    padding: 7px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--azul-oscuro);
}

section.info div.derecha div.numeros h3 span.numero{
    background-color: var(--naranja);
    padding: 7px;
    margin-left: -16px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    color: white;
}

section.info div.derecha div.numeros h3 span.empty{
    padding: 7px;
}

section.info div.derecha div.numeros p{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    color: var(--gris-claro);
}

/*personas*/

section.personas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 80px;
    align-items: center;
    margin-bottom: 100px;
}

section.personas h2{
    margin-bottom: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: var(--azul-oscuro);
}

section.personas div.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

section.personas div.articles article{
    width: 400px;
    height: 219px;
    text-align: center;
    background-color: #FAFAFA;
    position: relative;
    margin-top: 60px;
}

section.personas div.articles article img{
    position: absolute;
    top: -40px;
    right: 40%;
}

section.personas div.articles article div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 37px;
    padding-left: 20px;
    padding-right: 20px;
}

section.personas div.articles article div h3{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--azul-oscuro);

}

section.personas div.articles article div p{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--gris-claro);
}

section.personas div.botton{
    background-color: var(--naranja) ;
    height: 40px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
    text-align: center;
    transition: background-color 1s ease;
}

section.personas div.botton:hover{
    background-color: #FFA07A;
}

section.personas div.botton a{
    text-decoration: none;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

/*footer*/

footer section.primero{
    background-color: var(--naranja);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    align-items: center;
    height: 250px;
}

footer section.primero h2{
    width: 350px;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 30px;
}

footer section.primero div{
    background-color: white ;
    height: 40px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: all 1s ease;
}

footer section.primero div:hover{
    background-color: #DCDCDC;
    opacity: 80%;
}

footer section.primero div a{
    text-decoration: none;
    color: var(--naranja);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

footer section.segundo{
    background-color: #1E1E26;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
}

footer section.segundo div.logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:60px;
    align-items: center;
    order: 4;
}

footer section.segundo div.logo div{
    display: none;
}

footer section.segundo div.nav{
    display: flex;
    justify-content: space-between;
    gap: 50%;
}

footer section.segundo div.nav div.primer-nav nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer section.segundo div.nav div.primer-nav nav ul li{
    list-style: none;
}

footer section.segundo div.nav div.primer-nav nav ul li a{
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
    transition: color 1s ease;
}

footer section.segundo div.nav div.primer-nav nav ul li a:hover{
    color: var(--naranja);
}

footer section.segundo div.nav div.segundo-nav nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer section.segundo div.nav div.segundo-nav nav ul li{
    list-style: none;
}

footer section.segundo div.nav div.segundo-nav nav ul li a{
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
    transition: color 1s ease;
}

footer section.segundo div.nav div.segundo-nav nav ul li a:hover{
    color: var(--naranja);
}

footer section.segundo div.form{
    display: flex;
    flex-direction: column;
    gap: 120px;
    order: -1;/*media querie*/
}

footer section.segundo div.form form input.email{
    height: 40px;
    border-radius: 50px;
    border: none;
    padding-left: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

footer section.segundo div.form form input.enviar{
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: var(--naranja);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
    transition: background-color 1s ease;
}

footer section.segundo div.form form input.enviar:hover{
    cursor: pointer;
    background-color: #FFA07A;
}

footer section.segundo div.form p{
    display: none;
}

footer section.segundo div.iconos{
    display: flex;
    gap: 30px;
}

footer section.segundo div.iconos i{
    color: white;
    font-size: 30px;
}



footer section.segundo p{
    order: 5;
    color: #8C8C94;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 10px;
}

@media (min-width: 375px){

    /*footer*/

    footer section.segundo{
        height: 270px;
        display: flex;
        flex-direction: row;
        gap:0px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 70px;*/
        padding-top: 30px;
    }

    footer section.segundo div.logo{
        order: 0;
    }

    footer section.segundo div.logo div{
        display: flex;
        gap: 10px;
    }

    footer section.segundo div.logo div i{
        color: white;
        transition: color,font-size 1s ease;
    }

    footer section.segundo div.logo div i:hover{
        cursor: pointer;
        color: var(--naranja);
        font-size: 30px;
    }

    footer section.segundo div.form{
        order: 0;
    }

    footer section.segundo div.form p{
        display: inline;
        color: #8C8C94;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 500;
        font-size: 10px;
        align-self: flex-end;
    }

    footer section.segundo div.iconos{
        display: none;
    }

    footer section.segundo p{
        display: none;
    }

    footer section.segundo div.logo{
        order: -1;
    }

    footer section.segundo div.nav{
        gap: 80%;
    }
    
    footer section.primero{
        justify-content: space-between;
        padding-right: 7%;
        padding-left: 13%;
        gap: 0%;
    }

    footer section.primero h2{
        text-align: left;
    }

    /*info*/

    section.info div.izquierda{
        text-align: left;
        margin-bottom: 0px;
    }

    section.info div.izquierda p{
        color: black;
    }

    section.info div.derecha div.numeros h3{
        background-color: transparent;
    }


    /*banner*/

    section.banner div.izquierda{
        text-align: left; 
        align-items: flex-start;
    }

    section.banner div.izquierda p{
        color: black;
    }

    section.banner img{
        order: 1;
    }

    /*header*/

    header div.nav{
        display: inline;
        display: flex;
        justify-content: space-between;
        width: 60vw;
    }

    header div.nav nav ul{
        list-style: none;
        display: flex;
        gap: 23px;
    }

    header div.nav nav ul li a{
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 500;
        font-size: 13px;
        color: var(--azul-oscuro);
        text-decoration: none;
        transition: all 1s ease;
    }

    header div.nav nav ul li a:hover{
        color: var(--gris-claro);
        font-size: 16px;
    }

    header div.nav a.botton{
        background-color: var(--naranja) ;
        height: 40px;
        width: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 50px;
        box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
        text-decoration: none;
        color: white;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 500;
        font-size: 13px;
        transition: background-color 1s ease;
    }

    header div.nav a.botton:hover{
        background-color: #FFA07A;
    }

    header a.icono{
        display: none;
    }

}






















