/*body*/
*{
    margin:0px;
    padding: 0px;
}
/*header*/
.primerheader{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primerheader div{
    margin-left: 20px;
}

.primerheader nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
    margin-right: 20px;
}

.segundoheader{
    background-color:#F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
} 

.segundoheader div{
    margin-left: 20px;
}

.segundoheader nav{
    margin-right: 20px;
}
.segundoheader nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

.segundoheader nav ul li a{
    color: white;
}

/*banner*/
section.banner{
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
section.banner div{
    text-align: center;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.banner div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 300px;
    height: 60px;
}

#texto-banner{
    text-align: center;

}
#botton-banner{
    text-align: center;
    background-color:#F0A83E ;   
}
.nav-productos{
    text-align: center;
}
#img-productos{
    background-color: #FBFAF6;
}
section.contactanos{
    text-align: center;
}
.boton-contacto{
    background-color: black;
    color: white;
    max-width: 50%;
    margin-inline: 250px ;
}
footer{
    background-color: 
    #3C2313;
}
footer div + div{
    background-color: black;
    color: white;
}




